@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
    &::before,
    &::after {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
}

* {
    box-sizing: border-box;
}

body {
   //background-image: linear-gradient(147deg, #FFE53B 0%, #e53935 74%);
   background-image: linear-gradient(to right, $regal-blue, $san-juan);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    font-family: $open-sans;
    //overflow: hidden;
    padding-top: 50px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: $open-sans;
    font-weight: 300;
}

.row {
    max-width: 900px;
    margin: 50px auto 0;
}

// Base styles
.cardStatus {
    float: left;
    padding: 0 1.7rem;
    padding-bottom:20px;
    width: 30%;
    .menu-content {
        @include cf;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: inline-block;
        }
        a {
            color: $white;
        }
        span {
            position: absolute;
            left: 50%;
            top: 0;
            font-size: 10px;
            font-weight: 700;
            font-family: 'Open Sans';
            transform: translate(-50%, 0);
        }
    }
    .wrapper {
        background-color: $white;   
        min-height: 500px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
        &:hover {
            .data {
                transform: translateY(0);
            }
        }
    }
    .data {
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(calc(70px + 1em));
        transition: transform 0.3s;
        .content {
            padding: 1em;
            position: relative;
            z-index: 1;
        }
    }
    .author {
        font-size: 12px;
    }
    .title {
        margin-top: 10px;
    }
    .text {
        height: 70px;
        margin: 0;
    }
    input[type='checkbox'] {
        display: none;
    }
    input[type='checkbox']:checked + .menu-content {
        transform: translateY(-60px);
    }
}

.contenu {
    .wrapper {

        border-radius: 10px ;
        background: url(https://wallpaperdoc.xyz/wp-content/uploads/2016/07/Stranger-Things-Bicycle-Lights-Children.jpg) center / cover no-repeat;
        &:hover {
            .menu-content {
                span {
                    transform: translate(-50%, -10px);
                    opacity: 1;
                }
            }
        }
    }
    .header {
        @include cf;
        color: $white;
        background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,30,0.6)); /* Standard syntax (must be last) */
        padding: 1em;
        .date {
            float: left;
            font-size: 12px;
        }
    }
    .menu-content {
        float: right;
        li {
            margin: 0 5px;
            position: relative;
        }
        span {
            transition: all 0.3s;
            opacity: 0;
        }
    }
    .data {
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */

        color: $white;
        transform: translateY(calc(70px + 4em));
    }
    .title {
        a {
            color: $white;
        }
    }
    .button {
        display: block;
        width: 100px;
        margin: 2em auto 1em;
        text-align: center;
        font-size: 12px;
        color: $white;
        line-height: 1;
        position: relative;
        font-weight: 700;
        &::after {
            content: '\2192';
            opacity: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            transition: all 0.3s;
        }
        &:hover {
            &::after {
                transform: translate(5px, -50%);
                opacity: 1;
            }
        }
    }
}


//***********************************Search***************************************************************************
