@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #034378, #2d4e68);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.cardStatus {
  float: left;
  padding: 0 1.7rem;
  padding-bottom: 20px;
  width: 30%;
}
.cardStatus .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cardStatus .menu-content::before, .cardStatus .menu-content::after {
  content: "";
  display: table;
}
.cardStatus .menu-content::after {
  clear: both;
}
.cardStatus .menu-content li {
  display: inline-block;
}
.cardStatus .menu-content a {
  color: #fff;
}
.cardStatus .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.cardStatus .wrapper {
  background-color: #fff;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.cardStatus .wrapper:hover .data {
  transform: translateY(0);
}
.cardStatus .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.cardStatus .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.cardStatus .author {
  font-size: 12px;
}
.cardStatus .title {
  margin-top: 10px;
}
.cardStatus .text {
  height: 70px;
  margin: 0;
}
.cardStatus input[type=checkbox] {
  display: none;
}
.cardStatus input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.contenu .wrapper {
  border-radius: 10px;
  background: url(https://wallpaperdoc.xyz/wp-content/uploads/2016/07/Stranger-Things-Bicycle-Lights-Children.jpg) center/cover no-repeat;
}
.contenu .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.contenu .header {
  color: #fff;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 30, 0.6));
  /* Standard syntax (must be last) */
  padding: 1em;
}
.contenu .header::before, .contenu .header::after {
  content: "";
  display: table;
}
.contenu .header::after {
  clear: both;
}
.contenu .header .date {
  float: left;
  font-size: 12px;
}
.contenu .menu-content {
  float: right;
}
.contenu .menu-content li {
  margin: 0 5px;
  position: relative;
}
.contenu .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.contenu .data {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
  /* Standard syntax (must be last) */
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.contenu .title a {
  color: #fff;
}
.contenu .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.contenu .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.contenu .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

/*# sourceMappingURL=status.css.map */
