
<br/>
<hr/>
<div class="container">

    <div class="contenu cardStatus col-md-3">
        <div class="wrapper" style="background-image:url(https://dohack.info/wp-content/uploads/2019/02/TikTok-GIF.gif);
             background-repeat: no-repeat; ">
            <div class="header">
                <div class="date">
                    <button type="button" class="btn btn-sm btn-danger rounded">
                        <i class="fa fa-eye"></i>
                        1051
                    </button>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">
                        <img class="rounded-circle size-1" src="<?= $this->url->getBaseUri(); ?>public/img/new_logo.png">
                        Jane Doe
                    </span>
                    <h5 class="title"><a href="#">#CoiffureChallenge2019</a></h5>
                    <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                    <a href="#" class="button">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="contenu cardStatus col-md-3">
        <div class="wrapper" style="background-image:url(https://i.makeagif.com/media/2-19-2018/S11KwT.gif);
             background-repeat: no-repeat; ">
            <div class="header">
                <div class="date">
                    <span class="day">12</span>
                    <span class="month">Aug</span>
                    <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">
                        <img class="rounded-circle size-1" src="<?= $this->url->getBaseUri(); ?>public/img/new_logo.png">                    
                        Jane Doe
                    </span>
                    <h5 class="title"><a href="#">#FriendlyKiss</a></h5>
                    <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                    <a href="#" class="button">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="contenu cardStatus col-md-3">
        <div class="wrapper" style="background-image:url(https://onatestepourtoi.com/wp-content/uploads/2018/09/tik-tok-stop-rain-gif.gif);
             background-repeat: no-repeat; ">
            <div class="header">
                <div class="date">
                    <span class="day">12</span>
                    <span class="month">Aug</span>
                    <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">
                        <img class="rounded-circle size-1" src="<?= $this->url->getBaseUri(); ?>public/img/new_logo.png">                    
                        Jane Doe
                    </span>
                    <h5 class="title"><a href="#">#Coca-cola</a></h5>
                    <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                    <a href="#" class="button">Read more</a>
                </div>
            </div>
        </div>

    </div> 

    <div class="contenu cardStatus col-md-3">
        <div class="wrapper" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm1sEeT2PSmPdgycIAw6TNJ5OXl0Vf65D631v8G8FoAR_nFBwanA&s);
             background-repeat: no-repeat; ">
            <div class="header">
                <div class="date">
                    <span class="day">12</span>
                    <span class="month">Aug</span>
                    <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">
                        <img class="rounded-circle size-1 zoom" src="<?= $this->url->getBaseUri(); ?>public/img/new_logo.png">                    
                        Jane Doe
                    </span>
                    <h5 class="title"><a href="#">#Shooting</a></h5>
                    <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                    <a href="#" class="button">Read more</a>
                </div>
            </div>
        </div>
    </div>


</div>
